*{
    padding: 0;
    margin: 0;
    font-weight: 200;
}
.layout{
    width: 1000px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.header{
    height:80px;
    color: #344155;
    line-height: 80px;
}
.header h1{
    display: inline-block;
    height: 80px;
    color: #344155;
}
.header .logo{
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}
.header ul{
    float: right;
    list-style: none;
    padding: 0 20px;
}
.line{
    height: 1px;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

}
.header ul>li{
    float: left;
    padding: 0 30px;
}
.header ul>li a{
    color: #409eff;
    text-decoration: none;
}
.app{
    padding-top: 50px;
}
.main{
    margin-left: 250px;
}
.main h3{
    margin: 40px 0 15px 0;
}
.main pre{
    padding: 0 0 20px 20px;
}
.nav-bar{
    width: 200px;
    float: left;
    list-style: none;
}
.nav-bar .title{
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.nav-bar .nav-group {
    margin-left: 0;
    font-size: 16px;
    list-style: none;
}
.nav-bar .nav-group>li{
    color: #5e6d82;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    margin-left: 24px;
}
.nav-bar .nav-group li>a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: #344155;
}
.nav-bar .nav-group li>a:hover{
    transition: 0.5s;
    color: #409eff;
}
.nav-bar li>a:visited{
    color: #344155;
}
.panel {
    border: 1px solid #eaeefb;
    border-radius: 5px;
}
.panel .panel-item {
    padding: 25px;
    border-bottom: 1px solid #eaeefb;
}
.panel .panel-item button{
    margin-left: 10px;
}
.panel .panel-code-none{
    display: none;
}
.panel .panel-code-show{
    border-bottom: 1px solid #eaeefb;
    overflow-x: auto;
}
.panel .panel-code {
    cursor: pointer;
    color: #fff;
    padding: 5px 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin-left: 20px;
}
.panel .panel-code:hover{
    color: #409eff;
    margin-left: 0;
    transition: 1s;
}
.footer{
    margin-top: 120px;
}
.footer p{
    padding: 20px 0;
    text-align: center;
}
.footer p span{
    font-size: 22px;
    margin-right: 20px;
    vertical-align: bottom;
}
.footer p span a{
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}
.footer p span a:visited{
    color: #344155;
}
.footer p span img{
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
}
.iconList{
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    border:1px solid #eaeefb;
    padding: 5px;
    height: 130px;
}
.iconList span{
    display: inline-block;
    vertical-align: middle;
    height: 110px;
}
.iconList i{
    display: block;
    font-size: 56px;
    color: #5e6d82;
    margin-bottom: 10px;
}
.cat-layout-col{
    margin-top: 10px;
}
.cat-input{
    margin-right: 100px;
    margin-top: 10px;
}
.cat-tag{
    margin-right: 10px;
}
@keyframes start{
    from { 
        background: #409eff;
        height: 0;
    }
    to {
        background: #fff;
        height: 70vh;
        border: none;
    }
}

#start{
    width: 100%;
    height: calc(100vh - 325px);
    /* height: 70vh; */
    /* animation: start 3s linear; */
    position: relative;
}
.start{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.start img{
    display: inline-block;
    width: 80px;
    vertical-align: middle;
}
.start h2{
    display: inline-block;
    font-size: 64px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.start p{
    margin-bottom: 20px;
}
.start button{
    margin-right: 12px;
}
#start .spot{
    position: absolute;
    right: 10px;
}
#start .spot span{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #409eff;
    margin: 5px 0 5px 0;
}
#start .spot span.active{
    background: #409eff;
}
#start .progress{
    width: 10px;
    height: 100%;
    background: #409eff;
}
#start .progress .inline{
    background: #fff;
    animation: progress 5s infinite;
    height: 100%;
}

@keyframes progress{
    from {height: 0%;}
    to {height: 100%;}
}